/** 
* Color Variables
*/
$white: #ffffff;
$black: #000000;

$primaryBackgroundColor: #222629;
$greenBackgroundColor: #86c232;

$buttonLinkColor: #61892f;

$cardColor: #acb1b4;
$cardBackgroundColor: #474b4f;